/* Top margin for navbar and off-white background */
body {
  padding-top: 40px;
}

/* Navbar styling */
nav {
  background-color: #859ecc;
  left: 0;
  opacity: 95%;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Sets up list of links to be centered in the navbar */
nav ul {
  height: 3em;
  list-style: none;
  margin: 0 auto;
  width: 600px;
}

nav li {
  float: left;
}

/* Style navbar links */
nav a {
  color: #0d224a;
  display: block;
  font-family: 'Lato', serif;
  font-size: 24px;
  height: 3em;
  line-height: 3em;
  margin-left: -2px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

nav a:hover {
  background: #0d224a;
  color: #859ecc;
}

/* About page intro styling */
.intro {
  align-items: center;
  color: #0d1169;
  display: flex;
  font-family: 'Lato', serif;
  font-weight: bold;
  height: 100vh;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.intro div {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* Animations for the intro*/
@keyframes fade-in-top {
  from {bottom: 25px; opacity: 0;}
  to {bottom: 0; opacity: 100%;}
}

@keyframes fade-in-bottom {
  0% {opacity: 0;}
  66% {opacity: 0; top: 25px;}
  100% {opacity: 100%; top: 0;}
}

/* Fine-tune each section of the intro */
#hi {
  font-size: 48px;
  line-height: 5%;
  position: relative;
  animation: fade-in-top 1s ease;
}

#name {
  font-size: 96px;
  line-height: 15%;
  position: relative;
  animation: fade-in-top 1s ease;
}

#blurb {
  font-size: 24px;
  color: #4b4d6b;
  position: relative;
  animation: fade-in-bottom 3s ease;
}

.two-columns {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

/* Left columns should have an image */
.two-columns div.left {
  text-align: center;
  vertical-align: middle;
}

/* Right columns should have text description */
.two-columns div.right {
  flex-basis: 50%;
  text-align: left;
}

/* If the browser window is small, make the columns stack on top of each other and
 * add margins to right columns and header
 */
@media only screen and (max-width: 900px) {
  .two-columns {
    flex-direction: column;
  }
  .right {
    margin: 40px 10vw;
  }
  .header {
    margin-bottom: 40px;
  }
}

img {
  max-width: 100%;
  width: 350px;
}

/* Make image of me rounded and add shadow */
#me {
  border-radius: 50%;
  box-shadow: -5px 10px 10px #232529;
}

/* General text styling using Google fonts */
.header {
  color: #0d1169;
  font-family: 'Lato', serif;
  font-size: 64px;
  font-weight: bold;
  margin-left: 5vw;
}

.section-title {
  color: #0d1169;
  font-family: 'Lato', serif;
  font-size: 48px;
  margin-bottom: 20px;
  padding-left: 40px;
}

p {
  color: #05072e;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

p a {
  text-decoration: none;
}

hr {
  border: 0;
  background-color: #adaeb8;
  color: #adaeb8;
  height: 2px;
  width: 60%;
}

/* Styling for social media links using Ionicons */
ul.links {
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

ul.links li {
  display: inline-block;
}

ul.links ion-icon {
  color: #0d2e54;
  font-size: 48px;
}

ul.links ion-icon:hover {
  color: #2f73c2;
}

footer {
  background-color: #859ecc;
  color: #0d224a;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
  padding: 16px;
}

footer button {
  background-color: inherit;
  border: none;
  color: #1e5a9e;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

.hidden {
  display: none;
}

#map {
  height: 600px;
  width: 600px;
}
